.advantages-card-img {
  background-color: #81b3d2;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .advantages-card-img {
    flex-direction: row;
    width: @tablet-width;
  }

  .advantages-card-img__wrapper {
    box-sizing: border-box;
    width: 256px;
    min-height: 256px;
  }

  .advantages-card-img__img {
    width: 512px;
    min-height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-card-img__wrapper {
    box-sizing: border-box;
    width: 400px;
  }

  .advantages-card-img__img {
    width: 800px;
    height: 256px;
  }

  .advantages-card-img {
    flex-direction: row;
    width: @desktop-width;
  }
}

.advantages-card-img__title {
  margin: 0 0 11px 0;

  &--style {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.advantages-card-img__number {
  margin: 0 0 17px 0;

  &--style {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.advantages-card-img__description {
  margin: 0;

  &--style {
    text-transform: uppercase;
  }
}

.advantages-card-img__wrapper {
  padding: 33px 22px 40px 16px;
  margin: 0;
}

.advantages-card-img__img {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #60d11e;

  &--sedona-streat {
    background-image: url("../img/index/sedona-streat.jpg");
    background-repeat: no-repeat;
  }

  &--devil-bridge {
    background-image: url("../img/index/devil-bridge.jpg");
    background-repeat: no-repeat;
  }
}

@media (max-width: @tablet-width) {
  .advantages-card-img__img {
    min-height: 260px;
  }
}
