.advantages-card {
  box-sizing: border-box;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  padding: 0 18px;
  text-transform: uppercase;
}

.advantages-card__title {
  margin: 0 0 11px 0;
  color: #000000;
}

.advantages-card__number {
  margin: 0 0 17px 0;
  color: #333333;
}

.advantages-card__description {
  margin: 0;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .advantages-card {
    width: calc(@tablet-width / 3);
  }
}

@media (min-width: @desktop-width) {
  .advantages-card {
    width: calc(@desktop-width / 3);
  }
}
