.attraction {
  display: block;
  border: none;
  width: 280px;
  margin: 0;
  padding: 0 0 24px 0;

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      top: -54px;
      left: 0;
      display: block;
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: -54px;
      right: 0;
      display: block;
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: -54px;
      left: 0;
      display: block;
      width: 280px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: -54px;
      right: 0;
      display: block;
      width: 280px;
      height: 1px;
      background-color: #dbdbdb;
    }
  }
}

.attraction__title {
  padding: 24px 20px 0 20px;
  margin-bottom: 20px;
  text-align: center;

  &--font {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    width: 340px;
  }
}

.attraction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: @tablet-width) {
    padding: 0 84px 0 84px;
    gap: 16px 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 44px 0 44px;
    gap: 16px 64px;
  }
}

@media (min-width: @tablet-width) {
  .attraction {
    width: calc(@tablet-width - 120px);
  }

  .attraction__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .attraction__item {
    width: 224px;
  }
}

@media (min-width: @desktop-width) {
  .attraction {
    width: calc(@desktop-width - 240px);
  }

  .attraction__item {
    width: auto;
  }
}
