.catalog {
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  & li:nth-child(2n+3) {
    @media (min-width: @tablet-width) and (max-width: @desktop-width) {
      background-color: #eaeaea;
    }
  }

  & li:first-child {
    @media (min-width: @tablet-width) {
      width: @tablet-width;
    }

    @media (min-width: @desktop-width) {
      width: @desktop-width;
    }
  }
}

.catalog__item {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background-color: #f2f2f2;
  }

  @media (min-width: @tablet-width) {
    width: 50%;

    &:first-child img {
      height: 400px;
    }

    &:not(:first-child) img {
      height: 267px;
    }
  }

  @media (min-width: @desktop-width) {
    width: calc((@desktop-width - 80px) / 3);
  }
}
