.comment {
  display: block;
  border: none;
  width: 280px;
  margin: 0;
  padding: 0;
}

.comment__title {
  padding: 24px 20px 0 20px;
  margin-bottom: 20px;
  text-align: center;

  &--font {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    margin-bottom: 28px;
  }
}

.comment__textarea {
  box-sizing: border-box;
  width: 279px;
  height: 150px;
  padding: 16px;
  margin: 0 0 56px 0;
  background: #f2f2f2;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    height: 160px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.comment__submit {
  width: 281px;
  height: 58px;
  color: #ffffff;
  background: #81b3d2;
  border: none;

  &--font {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 96px;
    width: 384px;
  }
}

.form__required-field {
  margin: 0 0 24px auto;

  &--font {
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.6);
  }
}

@media (min-width: @tablet-width) {
  .comment {
    width: @tablet-width - 120px;
  }

  .comment__textarea {
    display: block;
    margin: 0 auto 48px auto;
    width: calc(@tablet-width - (2 * 60px));
  }

  .form__required-field {
    padding-top: 24px;
    margin: 0 0 auto auto;
  }
}

@media (min-width: @desktop-width) {
  .comment {
    width: @desktop-width - 240px;
  }

  .comment__textarea {
    width: calc(@desktop-width - (2 * 120px + 192px));
  }
}
