.developed {
  width: 230px;
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 170px;
  }
}

.developed__text {
  width: 90px;
  min-height: 21px;
  margin: 0;
  padding: 0 15px;
  text-transform: uppercase;
}

.developed__svg-wrapper {
  display: block;
  height: 34px;
}
