.developed {
  width: 230px;
  display: flex;
  gap: 2px;
  padding-left: 80px;
  align-items: center;
}

.developed__text {
  width: 90px;
  min-height: 21px;
  margin: 0;
  padding: 0 15px;
  text-transform: uppercase;
}

.developed__svg-wrapper {
  display: block;
  height: 34px;
}
