.form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 14px;

  fieldset {
    position: relative;
  }

  @media (max-width: @tablet-width) {
    legend:not(:last-child)::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: -20px;
      margin: 0 auto;
      display: block;
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

@media (min-width: @tablet-width) {
  .form {
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    width: @tablet-width;
    padding: 0 60px 54px 60px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: @desktop-width;
    padding: 0 120px 54px 120px;
  }
}

.form__required-field {
  margin: -10px 0 14px auto;
  max-width: 280px;

  &--font {
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.6);
  }

  @media (min-width: @tablet-width) {
    max-width: 320px;
    margin: 0 0 24px auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 470px;
  }
}

.form__submit {
  width: 281px;
  min-height: 58px;
  color: #ffffff;
  background: #81b3d2;
  border: none;
  margin-bottom: 10px;

  &--font {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 0 10px 10px 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 96px;
    width: 384px;
  }
}
