.full-name {
  display: block;
  border: none;
  width: 280px;
  margin: 0 0 39px 0;
  padding: 0;

  fieldset {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: calc(50% + -26px);
      left: 156px;
      display: block;
      width: 338px;
      height: 1px;
      background-color: #dbdbdb;
      transform: rotate(90deg);
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      top: calc(50% + -26px);
      left: 326px;
      display: block;
      width: 338px;
      height: 1px;
      background-color: #dbdbdb;
      transform: rotate(90deg);
    }
  }
}

.full-name__title {
  padding: 24px 20px 0 20px;
  margin-bottom: 20px;
  text-align: center;

  &--font {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
  }
}

.full-name__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-name__item {
  display: flex;
  flex-direction: column;
}

.full-name__desc {
  padding: 0 16px 0 16px;

  &--font {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
  }
}

.full-name__input {
  box-sizing: border-box;
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  padding: 0 16px 0 16px;

  &--font {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

@media (min-width: @tablet-width) {
  .full-name {
    width: calc((@tablet-width - 120px) / 2);
  }
}

@media (min-width: @desktop-width) {
  .full-name {
    width: calc((@desktop-width - 240px) / 2);
  }
}
