.hero {
  min-width: 320px;
  background-color: #ffffff;
}

.hero__img-wrapper {
  box-sizing: border-box;
  min-height: 158px;
  background-color: rgb(89, 166, 230);
  padding: 52px 0 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background: url("../img/intro-triangle.svg") bottom no-repeat, url("../img/catalog/hero.jpg") bottom no-repeat;
}

.hero__title-wrapper {
  padding: 33px 20px 16px 20px;
  text-align: center;
}

.hero__title {
  margin: 0 0 35px 0;

  &--font {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.hero__description {
  margin: 0;

  &--font {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
  }
}
