.main-nav {
  position: block;
  width: 320px;
  min-height: 56px;
}

.main-nav__toggle {
  min-width: 23px;
  min-height: 22px;
  display: block;
  margin: 0 0 auto auto;
  padding: 17px 20px 10px 10px;

  &--style {
    border: none;
    background-color: #ffffff;
  }
}
