.main-nav {
  width: 320px;
  min-height: 56px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-nav__toggle {
  min-width: 23px;
  min-height: 22px;
  display: block;
  margin: 0 0 auto auto;
  padding: 17px 20px 10px 10px;
  border: none;
  background-color: #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    li:nth-child(4n+2) {
      margin-right: 153px;
    }
  }

  @media (min-width: @desktop-width) {
    li:nth-child(4n+2) {
      margin-right: 240px;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
