.page {
  height: 100%;
  background: #f2f2f2;
}

.page__body {
  position: relative;
  display: block;
  min-height: 100%;
  padding: 0;
  width: 320px;
  max-width: 320px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    max-width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    max-width: @desktop-width;
  }


  &--style {
    font-family: "PT Sans", "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
