.presentation {
  text-align: center;
  background: #ffffff;

  @media (max-width: @tablet-width) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 84px;
  }
}

.presentation__title {
  max-width: 266px;
  margin: 0 auto 27px auto;

  @media (min-width: @tablet-width) {
    max-width: 445px;
    margin-bottom: 32px;
  }

  &--font {
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-size: 30px;
    }
  }
}

.presentation__description {
  max-width: 266px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 445px;
  }

  &--font {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.presentation__text-wrapper {
  margin-bottom: 38px;
  padding: 17px 26px 0 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
    padding: 56px 60px 19px 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
    padding: 60px 377px 23px 377px;
  }
}

.presentation__video {
  margin: 0 auto;
  width: 280px;
  height: 177px;
  background-image: url("../img/catalog/video.jpg");
  background-repeat: no-repeat;
  background-size: 280px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .presentation__video {
    width: 648px;
    height: 500px;
    background-size: 800px auto;
    background-position: 50%;
  }
}

@media (min-width: @desktop-width) {
  .presentation__video {
    width: 800px;
    background-size: 800px auto;
  }
}

.presentation__button-play {
  margin: 4px 0 0 14px;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
